body{
    /* background-color: #355764; */
    padding: 0px;
    margin: 0px;
}
#home_page{
    background-color: #D4F6CC;
    top: 25vh;
    padding-left: 50px;
    padding-right: 50px;
    padding: 25px;
    height: 25vh;
    width: 50vw;

}

#login_home_page{
    background-color: #81CACF;
    top: 25vh;
    padding-left: 50px;
    padding-top: 25px;
    height: 30vh;
    width: 50vw;
}